.container {
    padding: 1rem;
    padding-top:0.2rem;
    padding-bottom: 0.2rem;
    justify-self: center;
    width: 90%;
}

.box {
    border-radius: 10px;
}

.userContainer {
    margin-right: 1rem;
}

.user {
    width: fit-content;
    max-width: 75%;
    padding: 0.25rem 1.5rem;
    justify-self: right;
    background-color: #1a1a1a;
    margin-bottom: 5px;
}

.loading {
    font-weight: bold;
    font-size: 1.2rem;
}

.thinking {
    color: #B9B9B9;
    font-style: italic;
}

.btn {
    display: flex;
    gap: 0.4rem;
}

.userbtn {
    justify-self:right;
}

.fade {
  opacity: 0;
  transition: 0.3s ease;
}

.fade.show {
  opacity: 1;
}