.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.msgs {
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  margin: 0rem 3rem;
  margin-top: 2.5rem;
  scroll-behavior: smooth;
}

.home {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0;
  height: 60vh;
  align-content: center;
}

.inner {
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.open {
  padding-left: 12rem;
  transition: 0.4s;

}

.close {
  padding-left: 1rem;
  transition: 0.4s;
}